* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg, #ceb253, #d88771);
    color: white;
    font-family: 'Merriweather', serif;
    min-height: 100vh;
}
header{
    font-size: 3.5rem;
    font-weight: bold;
    padding: 20px 10px;
}
header,form{
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
form button{
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: #d88771;
    color: white;
}
.pict {
    height: 100px;
    width: 100px;
    margin: 5px;

}
.manga-container {
    display: flex;
}
.manga-list {
    margin: 1rem;
    padding: 10px;
    border: 20px;
    background: rgb(226, 167, 58);
    color: black;
    font-size: 2.5rem;
}
.manga-title {
    
    align-items: center;
    display:flex;
    font-size: 1.5rem;
    border: 10px, solid brown;
    padding: 20px;
    margin: 30px;
    /*align-items: center;*/

}
.delete-btn, .complete-btn {
    background: #ff6f47;
    color: rgb(230, 226, 226);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 8px;
  
}
.complete-btn {
    background: rgb(57, 162, 57);
    position: inherit;
    justify-content: right;
}
#text {
    padding: 5px;
    border: inherit;
}

.stars {
    display: flex;
    justify-content: center;
    align-items: center;

}
.stars.disabled {
    pointer-events: none;
}
.stars i {
    opacity: 50%;
    cursor: pointer;
    padding: 3px;
}
.stars:hover i {
    opacity: 100%; 
}

.stars i:hover {
    opacity: 100%;
}
.stars i:hover ~ i {
    opacity: 50%;
}
.star i.active {
    opacity: 100%;
}
