* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg, #ceb253, #d88771);
    color: white;
    font-family: 'Merriweather', serif;
    
}
header{
    font-size: 50px;
    font-weight: bold;
    padding: 20px 10px;
}
header,form{
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, form button{
    padding: 15px;
    font-size: 30px;
    border: none;
    background: white;
}
form button{
    color: #d88771;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: #d88771;
    color: white;
}
h4 {
    font-size: 10px;
}
li, p {
    border: solid 5px rgb(227, 156, 76);
    border-radius: 8px;
    font-size: 10px;
    display: flex;
}
.pict {
    height: 100px;
    width: 150px;
    margin: 15px;
    border: 3px solid brown;
}
.manga-container {
    justify-content: center;
    display: flex;
}
.manga-list {
    max-width: 80%;
    margin: 1px;
    padding: 1px;
    border: 1px;
    border-radius: 8px;
    background: rgb(226, 167, 58);
    color: rgb(122, 71, 22);
}
.manga-title {   
    align-items: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5rem;
    border: 5px, solid brown;
    padding: 10px;
    margin: 3px;

}
.delete-btn, .read-btn {
    background: #ff6f47;
    color: rgb(230, 226, 226);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 8px;
    
}
.read-btn {
    background: rgb(57, 162, 57);
}
#text {
    padding: 35px;
}
/*Stars Styling Section*/
.stars {
    font-size: 10px;
    display: flex;
}
.stars.disabled {
    pointer-events: none;
}
 
.stars i {
    opacity: 50%;
    cursor: pointer;
    padding: 3px;
}
.stars:hover i {
    opacity: 100%; 
}

.stars i:hover {
    opacity: 100%;
}
.stars i:hover ~ i {
    opacity: 50%;
}
.star i.active {
    opacity: 100%;
}

